

@media(max-width: 500px){
    .head{
        margin-top: 110px;
        font-size: 100px;
        text-align: center;
        color: rgb(90, 89, 89);
    }
}

@media(min-width: 900px){
    .head{
        margin: auto;
        font-size: 100px;
        text-align: center;
        color: rgb(90, 89, 89);
    }

}