.txt {
    font-size: 70px;
    /* text-transform: uppercase; */
    text-align: center;
}

.txt1 {
    font-size: 40px;
    text-align: center;
    color: palevioletred
}

.txt2 {
    font-size: 50px;
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Roboto', sans-serif;

    /* font-family: 'PT Sans Narrow', sans-serif; */
}