.card {
    background: #2A2D3A;
    border-radius: 20px;
    
}

.pic {
    border: 2px dotted white;
    border-radius: 10px;
    background-color: #2D2E36;
}

.btn-register {
    color: white;
    background-image: linear-gradient(to right, rgb(194, 55, 143), rgb(244, 13, 144));
}

.btn-register1 {
    color: rgb(244, 13, 144);
    border: 2px solid rgb(244, 13, 144);

}

.btn-register1:hover {
    color: aliceblue;
}

